<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

        {% block title %}

        {% endblock %} | Flask app

    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Flask: </a>
</nav>

<div class="container" style="width: 1400px">
    <div class="row">
        <div class="col">
            <h2>

                {% block content_title %}

                {% endblock %}

            </h2>
        </div>
    </div>

    <div class="row">
         {% block content %}

         {% endblock %}
    </div>
</div>





</body>
</html>