{% extends 'base.html' %}



{% block title %}
    Datebase
{% endblock %}




{% block content_title %}
    База отделов и сотрудников :
{% endblock %}






{% block content %}
<div class="col-3">

    <table  class="table table-sm table-hover table-striped table-bordered" >
        <h3>Отделы : </h3>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Номер:
                    </th>
                    <th scope="col">
                        Название отдела:
                    </th>
                     <th scope="col">
                        Средняя зарплата:
                    </th>
                     <th >
                    </th>

                </tr>
            </thead>
            {% for idd in depart %}
                <tr>
                    <td>
                        {{ idd }}:
                    </td>

                    <td>
                        <input id={{ idd }} type="text" size="10" value={{ depart[idd]['name'] }} >
                    </td>

                     <td>
                        <input id={{ idd }} disabled type="text" size="4" value= {{ depart[idd]['delta_salary'] }} >
                    </td>
                    <th>
                        <form formmethod="delete" name = {{ id }}>
                            <button name="department_delete" value="{{ idd }}" type="submit" class="btn btn-danger btn-sm">x</button>
                        </form>

                    </th>
                </tr>

            {%   endfor %}
                <tr>
                        <td>
                            ----
                        </td>

                        <td>
                            ---------
                        </td>

                         <td>
                           --------
                        </td>
                  </tr>
              <form name="department_add" method="POST">
                  <tr>
                        <td>

                        </td>

                        <td>
                            <input id=1  name="department" type="text" size="10" value="new name" >
                        </td>

                         <td>
                            <button  type="submit" class="btn btn-sm">add</button>
                        </td>
                  </tr>

              </form>

    </table>

</div>

<div class="col-1"></div>

<div class="col-8">

     <table  class="table table-sm table-hover table-striped table-bordered" >
        <form name="birthday_filter"  method="get">
            <tr>
                <td> <h3>Сотрудники: </h3></td>
                <td> ДР с : </td> <td> <input type="date" name="birthday_begin" min="1950-01-01" max="2010-01-01"  size="8" /> </td>
                <td> по: </td> <td> <input type="date" name="birthday_end" min="1950-01-01" max="2010-01-01"  size="8"  /> </td>
                <td> <button type="submit" class="btn btn-sm">поиск</button> </td>
            </tr>
        </form>
     </table>

    <table  class="table table-sm table-hover table-striped table-bordered" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Номер:
                    </th>
                    <th scope="col">
                        Имя сотрудника:
                    </th>
                    <th scope="col">
                       Отделение:
                    </th>
                    <th scope="col">
                       День рождаения:

                    </th>
                    <th scope="col">
                        Зарплата:
                    </th>
                    <th scope="col" width="50">
                        Дейс
                    </th>
                    <th scope="col" width="50">
                        твие:
                    </th>

                </tr>
            </thead>
        {% for id in name %}
            <tr>
                <th>
                    {{ id }}

                </th>
                <th>
                    <input name="fullname" type="text" size="10" value= {{ name[id]['name'] }} >
                </th>
                <th>
                    <select size="1" name="department">
                            <option selected disabled >Выберите отдел</option>
                            {% for idd in depart %}
                                <option {% if depart[idd]['name'] == name[id]['department'] %} {{ "selected" }} {% endif %} value={{ idd }}>{{ depart[idd]['name'] }}</option>
                            {% endfor %}

                    </select>

                </th>
                 <th>
                     <input type="date" name="birthday" min="1950-01-01" max="2010-01-01"  size="10"  value={{ name[id]['birthday'] }} />

                </th>
                <th>
                    <input name="salary" type="text" size="4" value={{ name[id]['salary'] }}>
                </th>
                <th>
                    <form method="PUT" name = id>
                        <button formmethod="POST" type="button" class="btn btn- btn-sm">v</button>
                    </form>

                </th>
                <th>
                    <form method="POST" name = {{ id }}>
                        <button type="submit" name="worker_delete" value="{{ id }}" class="btn btn-danger btn-sm">x</button>
                    </form>

                </th>
            </tr>
        {% endfor %}
            <tr>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                 <th>

                </th>
                <th>

                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
        <form name="worker_add" method="post">
            <tr>
                    <th>
                        ----
                    </th>
                    <th>
                        <input name="fullname" type="text" size="10" value= " new name " >
                    </th>
                    <th>
                        <select size="1" name="department_id">
                            <option selected disabled >Выберите отдел</option>
                            {% for id in depart %}
                                <option value={{ id }}>{{ depart[id]['name'] }}</option>
                            {% endfor %}

                        </select>

                    </th>
                     <th>
                         <input type="date" name="birthday" min="1950-01-01" max="2010-01-01"  size="10"  />

                    </th>
                    <th>
                        <input name="salary" type="text" size="4" value= " new ">
                    </th>
                    <th>

                            <button name type="submit" class="btn btn-sm">add</button>


                    </th>
                    <th>


                    </th>
            </tr>
        </form>
    </table>

</div>
{% endblock %}

