{% extends 'base.html' %}



{% block title %}

   Create new posst

{% endblock %}




{% block content_title %}

    New post
{% endblock %}


{% block content %}
    <div CLASS="COL">
        <form action="{{ url_for('posts.create_post') }}" method="POST">
            {% for fild in form %}
                <div class="form-group">
                    {{ fild.label(class='control-label') }}
                    {{ fild(class='form-control') }}
                </div>
            {% endfor%}
            <button type="submit" class="btn btn-success">Create</button>

        </form>


    </div>
{% endblock %}

